/* 
Cascading Style Sheets at the most basic level it indicates that the order of CSS rules matter. 


.class

#id

* for all elements but as you go down css it some things will be overriden

element

element, element

element element means select all tags in a specific tag so for example you can say all p tags in h2 which is written as h2 p{}

element > element parent meaning nested in a div and the div nested in a other element

element + element right after tag 

:hover
:last-child
:first-child
"!"important (not recommended)


What seletors win out in the cascade depends on:
-Specificity
-Importance
-Source Order
*/
body {
	margin: 0px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

img {
	width: 600px;
	height: 400px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}