
    @font-face {
        font-family: 'UltraViolent BB Italic';
        font-style: normal;
        font-weight: normal;
        src: local('UltraViolent BB Italic'), url('./font/ultraviolentbb_ital.woff') format('woff');
        }

        h1{
            font-family: UltraViolent BB Italic;
            font-weight: 200 ;
            color: #0ccac4;
        }